<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DCSLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="TrackIR"  value="false"/>
		<add key="VoiceAttack"  value="false"/>
		<add key="SimShaker"  value="false"/>
		<add key="OpenTrack"  value="false"/>
		<add key="Helios"  value="false"/>
		<add key="AutoClose"  value="true"/>
		<add key="DCSReposition"  value="false"/>
		<add key="DCSResize"  value="false"/>
		<add key="DCSCustomResolution"  value="false"/>
		<add key="DCSPosX"  value="0"/>
		<add key="DCSPosY"  value="0"/>
		<add key="DCSWidth"  value="1280"/>
		<add key="DCSHeight"  value="768"/>
		<add key="CustomResolutionWidth"  value="1920"/>
		<add key="CustomResolutionHeight"  value="1080"/>
		<add key="SplashReposition"  value="false"/>
		<add key="SplashPosX"  value="0"/>
		<add key="SplashPosY"  value="0"/>
		<add key="SplashWidth"  value="356"/>
		<add key="SplashHeight"  value="191"/>
		<add key="ApplyToFlatscreen"  value="false"/>
		<add key="ApplyToVR"  value="false"/>
		<add key="UseCustomSplash"  value="false"/>
		<add key="SteamVRReposition"  value="false"/>
		<add key="SteamVRPosX"  value="0"/>
		<add key="SteamVRPosY"  value="0"/>
		<add key="FSREnable"  value="true"/>
		<add key="FSRRenderScale"  value="0.77"/>
		<add key="FSRSharpness"  value="0.9"/>
		<add key="FSRRadius"  value="0.5"/>
		<add key="FSRNIS"  value="false"/>
		<add key="FSRMIPBias"  value="true"/>
		<add key="FSRDebug"  value="false"/>
		<add key="VRMode"  value="false"/>
		<add key="VRType"  value="Automatic"/>
		<add key="MinimizeJetSeat"  value="true"/>
		<add key="DeleteTracks"  value="false"/>
		<add key="DeleteTracksDays"  value="90"/>
		<add key="DeleteTacview"  value="false"/>
		<add key="CpuPriority"  value="false"/>
		<add key="PowerPlan"  value="false"/>
		<add key="AutoCloseSRS"  value="false"/>
		<add key="PiTool"  value="false"/>
		<add key="PiServiceControl"  value="false"/>
		<add key="LighthouseControl"  value="false"/>
		<add key="DeviceStatusCheck"  value="false"/>
		<add key="GPUOverclock"  value="false"/>
		<add key="BaseClockOffset"  value="0"/>
		<add key="MemoryClockOffset"  value="0"/>
		<add key="LockVoltagePointEnable"  value="false"/>
		<add key="LockVoltagePoint"  value="0,968000"/>
		<add key="PowerTarget"  value="100"/>
		<add key="TempTargetEnable"  value="false"/>
		<add key="TempTarget"  value="90"/>
		<add key="LHB1Enabled"  value="false"/>
		<add key="LHB2Enabled"  value="false"/>
		<add key="LHB1MacAddress"  value=""/>
		<add key="LHB2MacAddress"  value=""/>
		<add key="DCSPath"  value=""/>
		<add key="SteamVRPath"  value="C:\Program Files (x86)\Steam\steamapps\common\SteamVR"/>
		<add key="DCSSavedGamesPathBase"  value=""/>
		<add key="DCSSavedGamesPathVR"  value=""/>
		<add key="DCSStartTime"  value="30"/>
		<add key="CustomSplashPath"  value=""/>
		<add key="TrackIRPath"  value=""/>
		<add key="VoiceAttackPath"  value=""/>
		<add key="SimShakerPath"  value=""/>
		<add key="OpenTrackPath"  value=""/>
		<add key="HeliosPath"  value=""/>
		<add key="LighthouseManagerPath"  value=""/>
		<add key="NvidiaInspectorPath"  value=""/>
	</appSettings>
 <userSettings>
  <DCSLauncher.Properties.Settings>
   <setting name="HasSetDefaults" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Location" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="Size" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
  </DCSLauncher.Properties.Settings>
 </userSettings>
</configuration>